/com ports notes.txt
/csvtest.py
/mfw code works.mp4
/Old revisions
/RFID fuel bay testing
/rfid lane testing.py
/rfid linux v1.py
/rfid transmit testing.py
/rip cones.mp4
/rs232 output testing.py
/video config.mp4
/video10-May 095102.mp4
/Weird Observation.mp4
/__pycache__